apiVersion: v1
baseDomain: {{ baseDomain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform:
    openstack:
      type: {{ workerFlavor }}
  replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: controlplane
  platform: 
    openstack:
      type: {{ controlplaneFlavor }}
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ custID }}
networking:
  clusterNetwork:
  - cidr: {{ osClusterNetwork | default("10.128.0.0/14") }}
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ ospSubnet }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ osServiceNetwork | default("172.30.0.0/16") }}
platform:
  openstack:
    apiVIP: {{ os_apiVIP }}
    defaultMachinePlatform: {}
    cloud: openstack
    clusterOSImage: {{ rhcosImage }}
    externalDNS:
{% for dnsServer in externalDNS %}
    - {{ dnsServer }}
{% endfor %}
    externalNetwork: internet
    ingressVIP: {{ os_ingressVIP }}
    lbFloatingIP: {{ apiFIP }}
publish: External
pullSecret: '{{ pullSecret }}'
sshKey: {{ sshKey }}
{% if disconnectedInstall | default(false) | bool %}
{{ installConfigExtraParams }}
{% endif %}
